@model  ElectronicShops.Models.Product

@{
    ViewBag.Title = "Description";
}

<br />
<br />
<h2>Opis i parametry produktu</h2>
<p>
    @Html.ActionLink("Dodaj/Edytuj", "PostDescription","Products", new { id = Model.Id}, null)
</p>


@Html.Partial("_DescriptionParitialView",Model.Description)





<p>
    
    @Html.ActionLink("Powrót", "Index")
</p>
