@model  ElectronicShops.Models.Product

@{
    ViewBag.Title = "Description";
}

<br />
<br />

<p>
    @Html.ActionLink("Dodaj nowy", "PostDescription","Products", new { id = Model.Id}, null)
</p>


@Html.Partial("_DescriptionParitialView",Model.Description)





<p>
    
    @Html.ActionLink("Back to List", "Index")
</p>
